.sidenav {
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: #FFFFFF;
  position: relative; }

.iconLinks {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  flex: 1; }

.sns {
  display: flex;
  padding: 20px;
  align-items: flex-end;
  justify-content: flex-end;
  font-size: 20px; }
  .sns div {
    margin: 6px; }

.logoPic {
  margin-bottom: 20%;
  width: 100%;
  text-align: center;
  transition: 1s ease-in-out; }
  .logoPic:hover {
    transform: rotate(360deg); }

.sidenav a {
  padding: 5px 0px 5px 0px;
  font-size: 20px;
  display: block;
  border: none;
  background: none;
  width: 100%;
  color: #818181;
  cursor: pointer; }

.subnavbtn {
  padding: 5px 0px 5px 0px;
  font-size: 20px;
  display: block;
  border: none;
  background: none;
  width: 100%;
  color: #818181;
  cursor: pointer;
  color: #818181;
  position: relative;
  border: none; }

.active {
  background-color: green;
  color: white; }

.subnav {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 100%;
  z-index: 1;
  top: 0;
  left: 100%;
  width: 100%; }
  .subnav a {
    color: black;
    text-decoration: none;
    display: inline-block; }

.subnavbtn:hover {
  background-color: white; }
  .subnavbtn:hover .subnav {
    display: block; }
  .subnavbtn:hover a {
    text-decoration: none; }

.sidenav a:hover {
  text-decoration: none;
  color: #f1f1f1;
  background-color: #993; }

.header {
  display: none;
  border-bottom: 1px solid #E2E8F0;
  height: 7%;
  position: sticky;
  background-color: #ffffff; }

.xbutton {
  display: none;
  width: 100%;
  height: 7%; }

.closebtn {
  position: absolute;
  text-align: right; }

.hamburger {
  display: none;
  margin: 1rem; }

.bar {
  display: block;
  width: 29px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010; }

@media screen and (max-width: 700px) {
  .sidenav {
    position: absolute;
    left: -1%;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    z-index: 2;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05); }
    .sidenav a:not.xbutton, .sidenav subnavbtn {
      font-size: 30px;
      padding: 10px; }
  .xbutton {
    position: absolute;
    display: flex;
    align-items: center; }
    .xbutton a {
      font-size: 30px;
      padding: 10px; }
  .closebtn {
    display: inline-block;
    vertical-align: middle;
    width: 10%;
    border-radius: 0px 10px 0px;
    z-index: 2;
    line-height: 1.6;
    cursor: pointer; }
  .sidenav.active {
    left: 0; }
  .logoPic:onclick {
    transform: rotate(360deg); }
  .subnavbtn {
    padding: 10px 0px 0px 0px; }
  .subnav {
    display: block;
    bottom: 100%;
    position: relative;
    left: 0%;
    z-index: 1;
    margin-top: 10px;
    width: 200px; }
  .sns {
    justify-content: center;
    font-size: 1.5rem; }
    .sns div {
      margin: 1rem; }
  .bgimg {
    background-color: #cccccc;
    height: 95%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative; }
  .header {
    display: flex;
    justify-content: flex-end;
    align-items: center; }
  .hamburger {
    display: block;
    vertical-align: middle;
    cursor: pointer; }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0; }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
    -webkit-transform: translateY(8px) rotate(45deg); }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
    -webkit-transform: translateY(-8px) rotate(-45deg); } }

body {
  width: 100%;
  margin: 0;
  box-sizing: border-box; }

.parr1 {
  background-color: white;
  border: 2px solid black;
  margin: 20px;
  color: black;
  text-align: center; }

.wholeCont {
  display: flex;
  margin: auto;
  line-height: 1; }

.rightCont {
  flex: 6;
  height: 100vh;
  box-sizing: border-box;
  font-family: "Helvetica", sans-serif;
  background-color: #e8eaed;
  overflow: auto; }
  .rightCont div {
    display: block;
    font-size: 20px; }

.mainn {
  grid-area: texxt;
  margin: 30px;
  border-style: dotted;
  padding: 20px;
  display: grid;
  grid-gap: 0px;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: repeat(3, 1fr); }

.postPic {
  width: 370px; }

.bgimg {
  display: flex;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 40%;
  background-position: center; }

button {
  border: 0px;
  background-color: transparent; }
