@import "sidebar";
@import "hamburger";


$softgrey: #e8eaed;
$anchopic: 720px;
$medium: 700px;

@media screen and (max-width: $medium) {
  
  .sidenav {
    position: absolute;
    left: -10%;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    z-index: 2;
    box-shadow:
     0 10px 27px rgba(0, 0, 0, 0.05);
     a:not(.closebtn), subnavbtn {
      font-size: 20px;
      padding: 10px;
     }
    }
  
  .xbutton {
  display: block;
  padding: 20px;
  }

  .closebtn {
  position: absolute;
  border: 20px;
  border-radius: 0px 10px 0px;
  z-index: 2;
  }
  
  .sidenav.active {
    left: 0;
  }

  .logoPic {
  &:onclick {
    transform: rotate(360deg);
    }
  }

  .subnavbtn {
    padding: 10px 0px 0px 0px;  
  }

  .subnav {
  display: block;
  bottom: 100%;
  position: relative;
  left: 0%;
  z-index: 1;
  margin-top: 10px;
  width: 200px;
  }

  .sns {
  justify-content: center;
  font-size: 1.5rem;
    div {
    margin: 1rem
    }
  }
  .bgimg {
  background-color: #cccccc;
  height: 95%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  }

  .header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }
  .hamburger.active {
    .bar:nth-child(2) {
      opacity: 0;
    }
    .bar:nth-child(1) {
     transform: translateY(8px) rotate(45deg);
     -webkit-transform: translateY(8px) rotate(45deg);
    }
    .bar:nth-child(3) {
     transform: translateY(-8px) rotate(-45deg);
     -webkit-transform: translateY(-8px) rotate(-45deg);
    }
  }
}

// MEDIA END MEDIA END MEDIA END
@mixin condicional($color) {
  background-color: ($color);

  @if $color == white {
  border: 2px solid black;
  margin: 20px;
  }
}

body {
  width: 100%;
  margin: 0;
  box-sizing: border-box;
}

.parr1 {
  @include condicional(white);
  color: black;
  text-align: center;
}

.wholeCont {
  display: flex;
  margin: auto;
  line-height: 1;
}

.rightCont {
  flex: 6;
  height: 100vh;
  box-sizing: border-box;
  font-family: "Helvetica", sans-serif;
  background-color: $softgrey;
  overflow: auto;

  div {
    display: block;
    font-size: 20px;
  }
}

.mainn {
  grid-area: texxt;
  margin: 30px;
  border-style: dotted;
  padding: 20px;
  display: grid;
  grid-gap: 0px;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: repeat(3, 1fr);
}

.postPic {
  width: ($anchopic/2)+10;
}

.bgimg {
  display: flex;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 40%;
  background-position: center;
}

input, textarea, select {
  font-size: 20px;
}

